<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/01fdf1e3-7db4-4c87-9aca-305b47ee2392/resourceGroups/Dima/providers/Microsoft.Web/sites/MonteNegroApi</ResourceId>
    <ResourceGroup>Dima</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://montenegroapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>532410dd-367c-4641-93c3-165ea2e7217f</ProjectGuid>
    <PublishUrl>https://montenegroapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MonteNegroApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>