<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/01fdf1e3-7db4-4c87-9aca-305b47ee2392/resourceGroups/Dima/providers/Microsoft.Web/sites/MonteNegRoAuthorizationApi</ResourceId>
    <ResourceGroup>Dima</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://montenegroauthorizationapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bb4c31a3-e86f-4efe-86d2-c00f974c53de</ProjectGuid>
    <PublishUrl>https://montenegroauthorizationapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MonteNegRoAuthorizationApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>